.navbar {
  list-style-type: none;
  overflow: hidden;
  background-color: #30475e;
}

.list-item {
  display: block;
  color: #f5f5f5;
  text-align: center;
  font-family: "candara";
  font-size: 28px;
  letter-spacing: 2px;
  padding: 30px 32px;
  text-decoration: none;
  float: left;
}

.list-item-active {
  display: block;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  font-family: "candara";
  font-size: 28px;
  letter-spacing: 2px;
  padding: 30px 32px;
  float: left;
  border-bottom: solid 1px white;
}

.list-item:hover {
  cursor: pointer;
}

.crypto-login {
  height: 100px;
  width: 225px;
  font-family: "candara";
  font-size: 28px;
  color: #121212;
  background-color: #f5f5f5;
  float: right;
  border: 12px solid #121212;
}

.crypto-login:hover {
  color: #f5f5f5;
  background-color: #f05454;
  cursor: pointer;
  border: 2px solid gold;
}

.btn {
  text-align: center;
  cursor: pointer;
  font-family: "Trebuchet MS";
  font-size: 20px;
}

.heading {
  text-align: center;
  letter-spacing: 12px;
  color: #f5f5f5;
}
