.strip-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #121212;
  margin: 12px;
  background-color: #f5f5f5d5;
}

.strip {
  font-size: 22px;
  font-family: "Trebuchet MS";
}

.strip-container:hover {
  background-color: #f5f5f5;
}
