nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border-bottom: 1px solid black;
}

.logo-area {
  display: flex;
  color: black;
  flex-direction: row;
}

.logo-area h4 {
  margin-left: 7px;
  font-size: 22px;
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: large;
}

.link {
  text-decoration: none;
  color: black;
}

.link-active {
  color: black;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}

.hamburger-toggle {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .hamburger-toggle {
    display: block;
  }
  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 5vh;
    height: 92vh;
    width: 100%;
    background-color: gray;
    font-size: 28px;
    transform: translateX(100%);
  }

  .active {
    transform: translateX(0%);
  }
}
