nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  border-bottom: 2px solid black;
  background-color: #5cdb95;
}

.logo-area {
  display: flex;
  color: whitesmoke;
  flex-direction: row;
}

.logo-area h4 {
  margin-left: 7px;
  font-size: 22px;
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: large;
}

.link {
  color: whitesmoke;
  text-decoration: none;
}

.link-active {
  color: white;
  padding-bottom: 5%;
  border-bottom: 1px solid white;
}

.hamburger-toggle {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 850px) {
  .logo-area {
    margin-left: 2rem;
  }

  .hamburger-toggle {
    display: block;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    top: 5.4rem;
    height: 100%;
    width: 100%;
    background-color: gray;
    font-size: 28px;
    display: none;
    overflow: hidden;
  }

  .active {
    display: flex;
  }
}
